.avt {
    width: 100%;
    height: calc(100dvh - 70px);
    display: grid;
    place-content: center;
}
#mbmbox{
    /* border: 3px solid rgba(0, 0, 0, 0.5); */
    width: 240px;
    height: 240px;
    margin: auto;
    border-radius: 50%;
    /* animation: bounce 2s infinite ease-in-out; */
    /* animation: mbmbzqq 15s linear infinite; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}
#mbmb {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: scale(0.97);
    transition: all 0.6s ease;
    z-index: 100;
}


@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.97);
    }
}

@keyframes mbmbzqq {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.cpbk-h{
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    z-index: -100;
    
}
.tt {
    color: #ffffff;
    /* padding: 30px; */
    padding-bottom: 40px;
}

.tt1 {
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 10px;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.tt2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.tt3 {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

@media screen and (max-width: 600px) {
    .avt {
        display: grid;
        place-content: center;

    }

    #mbmbox {
        margin: auto;
        width: 200px;
        height: 200px;
    }

    .tt {
        color: #ffffff;
        /* padding: 30px; */
        padding-bottom: 40px;
    }

    .tt1 {
        /* width: 90%; */
        font-weight: 500;
        font-size: 9vw;
        padding-bottom: 10px;
        text-align: center;
    }

    .tt2 {
        font-size: 6vw;
        text-align: center;
        margin-bottom: 8px;
    }

    .tt3 {
        font-size: 17px;
        text-align: center;

    }
}