.avt {
    width: 100%;
    height: calc(90dvh - 70px);
    display: grid;
    place-content: center;
}

.avt img {
    display: block;
    margin: auto;
    border-radius: 20%;
    border: 3px solid #0000005a;
    width: 240px;
    /* height: 200px; */
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

.tt {
    color: #ffffff;
    padding: 30px;
    padding-bottom: 40px;
}

.tt1 {
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 10px;
    text-align: center;
}

.tt2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.tt3 {
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .avt {
        display: grid;
        place-content: center;

    }

    .avt img {
        margin: auto;
        display: block;
        width: 200px;
        height: 200px;
    }

    .tt {
        color: #ffffff;
        padding: 30px;
        padding-bottom: 40px;
    }

    .tt1 {
        /* width: 90%; */
        font-weight: 500;
        font-size: 9vw;
        padding-bottom: 10px;
        text-align: center;
    }

    .tt2 {
        font-size: 5.5vw;
        text-align: center;
        margin-bottom: 8px;
    }

    .tt3 {
        font-size: 17px;
        text-align: center;

    }
}