/* 时间线样式 */
.timeline {
    flex: 1;
    border-radius: 10px;
    position: relative;
    margin-left: 30px;
}

/* 年份节点 */
.year-group {
    position: relative;
    margin: 20px 0;
    margin-left: 80px;
}

.year-group h2 {
    position: relative;
    margin-left: -15px;
    padding: 0px 10px;
    color: #242424;
    background: #f8fdff;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid rgba(68, 135, 222, 0.8);
    font-size: 20px;
}



/* 条目样式 */
.timeline-item {
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: 15px 0;
    padding: 3px 5px;
    transition: transform 0.2s;
    border-bottom: 1px solid #00000018;
    background: linear-gradient(to right, #4487de, #4487de) no-repeat;
    background-size: 0 2px;
    background-position: center bottom;
    transition: background-size 0.2s;
}
.timeline-item:hover{
    background: linear-gradient(to right, #4487de, #4487de) no-repeat;
    background-size: 100% 2px;
    background-position: center bottom;
}
.timeline-date {
    width: 100px;
    color: #111;
    font-size: 16px;    
}


.timeline-title {
    color: #2c3e50;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding-right: 5px;
}
.timeline::before {
    content: '';
    position: absolute;
    left: 48px;
    top: 15px;
    bottom: 15px;
    width: 3px;
    background: rgb(68, 134, 222);
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background: white;
    border: 3px solid rgb(68, 134, 222);
    border-radius: 50%;
}
.year-group h2::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    background: white;
    border: 3px solid rgb(68, 134, 222);
    border-radius: 50%;
}